.inputdata {
	width: 95%;
	height: vh;
	font-family: "Noto Sans KR", sans-serif;
	font-size: 1rem;
	padding: 5px;
	border-radius: 0.5rem;
	border-style: solid;
	border-color: #e0e0e0;
	margin-bottom: 1.3rem;
}
