.b{
    padding-top: 30px;
    padding-left:30px;
    padding-right:30px;
    padding-bottom:30vh;
}

.container{
    background-color: white;
    border-radius:25px;
    padding:4vw;
}

.text{
    display: flex;
    justify-content: space-evenly;
    font-size: 0.8rem;
    font-family: 'Noto Sans KR', sans-serif;
}
.input{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items:center;
    padding-bottom: 0;
}

.submit{
    font-size: 1rem;
    border-radius: 0.5rem;
    padding:0.5rem;
    background-color: #FCBD00 ;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:2vh;
    margin-bottom: 2vh;
    font-family: 'Noto Sans KR', sans-serif;
    color: white;
}
.find{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top:2vh;
    margin-bottom:2vh;
    font-family: 'Noto Sans KR', sans-serif;
}
.link{
    text-decoration: none;
    color:black;
}

.back{
    float:left;
}

.title{
    font-size: 1.6rem;
    text-align: center;
    flex-basis: 80%;
}


.emailcheck{
    margin: 0;
    margin-top: 20px;
}

.emailsave{
    font-family: 'Noto Sans KR', sans-serif;
    margin-left: 11px;
}

label{
    color:rgb(127, 127, 127);
}

.findemail, .findpassword{
    color:rgb(127, 127, 127); 
}


.joinyellow{
    color: #F9E183;
}

body{
    width:100%
}