.b{
    padding-top: 30px;
    padding-left:30px;
    padding-right:30px;
    background-image:url("../../../../public/background.png");
    padding-bottom:30vh;
}

.container{
    background-color: white;
    border-radius:25px;
    padding:4vw;
}

.text{
    display: flex;
    justify-content: space-evenly;
    font-size: 3.5vw;
    font-family: 'Noto Sans KR', sans-serif;
}
.input{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items:center;
    padding-bottom: 0;
}

.submit{
    font-size: 15px;
    border-radius: 25px;
    padding: 10px;
    background-color: #F9E183 ;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:2vh;
    margin-bottom: 2vh;
    font-family: 'Noto Sans KR', sans-serif;
}
.find{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top:2vh;
    margin-bottom:2vh;
    font-family: 'Noto Sans KR', sans-serif;
}
.link{
    text-decoration: none;
    color:black;
}

.back{
    float:left;
}

.title{
    font-size: 27px;
    text-align: center;
    flex-basis: 80%;
    color: #F9E183;
    font-family: 'GmarketSansBold';
    margin-left: px;
}

.header{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 10px;
}

.fake{
    flex-basis:10%;
}

.emailcheck{
    margin: 0;
    margin-top: 20px;
}

.emailsave{
    font-family: 'Noto Sans KR', sans-serif;
    margin-left: 11px;
}

label{
    color:rgb(127, 127, 127);
}

.findemail, .findpassword{
    color:rgb(127, 127, 127); 
}

hr{
    color: #F9E183;
}

.joinyellow{
    color: #F9E183;
}