.header{
    display: flex;
    width: 100%;
}


.title{
    font-size: 1.6rem;
    text-align: center;
    flex-basis: 84%;
    font-weight: 500;
}

.titletest{
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 500;
    justify-content: center;
}