.link{
    text-decoration: none;
}
.container{
    width:100%;
}
.back{
    flex-basis:10%;
    margin-left:3vw;
    margin-right:3vw;
}
header{
    display:flex;
    justify-content: space-between;
    margin-bottom: 15px;
    margin-top: 3px;
}
.title{
    font-size:23px;
    font-family: 'Noto Sans KR', sans-serif;
    margin-left: 15px;
}

section{
    margin-top: 2vh;
    display:flex;
    justify-content: space-between;
}


.categoryimg{
    width: 92%;
}

.folderimg{
    width:8%;
    padding-bottom: 6px;
}

.menuimg{
    width:28px;
}