.link{
    text-decoration: none;
}
.container{
    width:100%;
}
header{
    display:flex;
    justify-content: space-between;
}
.title{
    font-size:5vw;
}
section{
    margin-top: 2vh;
    display:flex;
    justify-content: space-between;
}
.home{
    margin-left:3vw;
    margin-right:3vw;
    font-size:3vw;
    border-style:none;
    background:none;
}
