.link{
    text-decoration: none;
}
.container{
    width:100%;
}
.back{
    flex-basis:10%;
    margin-left:3vw;
    margin-right:3vw;
}
header{
    display:flex;
    justify-content: space-between;
}
.title{
    flex-basis:80%;
    text-align: center;
    font-size:6vw;
}
section{
    margin-top: 2vh;
    display:flex;
    justify-content: space-between;
}
.fake{
    flex-basis:10%;
}
