.background{
    display: flex;
    flex-direction:column;
    align-items: center;
    /* height:100vh; */
    background-image:url("../../../public/background.png");
    padding-left:10px;
    padding-right:10px;
  }

  .container{
    margin:30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 25px;
    width: 82%;
}

.heartimg{
    width: 140px;
    margin:0;
    margin-right: 5px;
}

.imgcontainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.heartimg3{
    width: 140px;
    margin:0;
    margin-right: 150px;
    margin-top: 10px;
}