.background{
    display: flex;
    flex-direction:column;
    align-items: center;
    height:100vh;
    background-image:url("../../../public/background.png");
    padding-left:10px;
    padding-right:10px;
  }

  .container{
    margin:30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 25px;
    width: 82%;
}

