.container{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-image:url("../../../public/background.png");
    padding-bottom:100vh;
    padding-left:10px;
    padding-right:10px;
  }