.footer{
    display:flex;
    margin-bottom: 20vw;
  }
.footermenu{
    font-size:15px;
    margin: 10px;
    border-style:none;
    /* padding:10px; */
    display:flex;
    /* border-radius:10px;
    background-color:royalblue; */
  }

  .firstfloor{
    display: flex;
  }