.footer{
    width:100%;
    padding-top:10px;
    padding-bottom:10vh;
    background-color: #F9E183 ;
  }
.footermenu{
    font-size:15px;
    margin: 10px;
    border-style:none;
    /* padding:10px; */
    display:flex;
    /* border-radius:10px;
    background-color:royalblue; */

  }
  .firstfloor{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .join{
    border-style:solid;
    text-align: center;
    background-color: white;
    border-radius: 15px;;
    padding: 10px;
    border-width: 1px;
  }