.footer{
    width:100%;
    padding-top:10px;
    padding-bottom:10vh;
    background-color: #FDDA32;
    
  }
.contactus{
  text-align: center;
  font-family: 'GmarketSansBold';
  color:white;
  font-weight: bolder;
  margin-bottom: 15px;
}
.footermenu{
    font-size:13px;
    margin: 10px;
    border-style:none;
    /* padding:10px; */
    display:flex;
    /* border-radius:10px;
    background-color:royalblue; */

  }
  .firstfloor{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .join{
    text-align: center;
    background-color: white;
    border-radius: 15px;;
    padding: 5px;
    border-width: 1px;
    width:30%;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    margin-left:0px;
    margin-right:0px;
  }