nav{
    background-color: white;
    position:fixed;
    bottom:0;
    display:flex;
    justify-content: center;
    align-items: center;
    border-top-style: solid;
    width:100%;
    border-width:1px;
}
.home,.location,.search,.heart,.mypage{
    font-size:2vw;
    padding-top: 4vw;
    padding-bottom:4vw;
    flex-basis: 20%;
    display:flex;
    align-items: center;
    justify-content:center;
    border-style: solid;
    border-width:1px;
}
.link{
    text-decoration: none;
    color:black;
    flex-basis: 20%;
}