.searchbar{
    margin-top:3vh;
    margin-bottom: 0.5vh;
    display:flex;
    width:90%;
  }
  .search{
    font-family:'GmarketSansLight';
    padding: 10px;
    border-radius:30px;
    width:100%;
    border-width: 2px;
    background-color: white;
    color:rgb(117, 117, 117);
    height: 2.5vh;
    display:flex;
    justify-content: space-between;
    align-items: center;
  }
  .link{
    display:flex;
    width:100%;
    text-decoration:none;
  }
  .text{
    flex-basis:90%;
  }
  .emo{
    padding-top:14px;
    flex-basis:10%;
  }
  .emo img{
    width: 100%;
  }