.test {
	padding: 5px;
	display: flex;
	margin-top: 1vw;
	margin-bottom: 0.5rem;
	flex-direction: column;
}
.mbtitest,
.random {
	color: rgb(127, 127, 127);
	margin-top: 0;
	display: flex;
	flex-direction: column;
}
.flexcon img {
	padding-top: 0.4rem;
	width: 2.8rem;
	margin-right: 0.8rem;
}
.title {
	font-size: 0.8rem;
	font-weight: bolder;
	margin-bottom: 0.3rem;
}
.text {
	color: gray;
	font-size: 1vw;
}

.titletext {
	display: flex;
	font-size: 1rem;
	font-weight: 600;
	margin-left: 1.8rem;
	margin-bottom: 0.6rem;
}

.flexcon {
	display: flex;
	margin-left: 1.5rem;
}

.subflexcon {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.line {
	background-color: #f2f2f2;
	height: 0.7rem;
	border: none;
	margin: 0;
	margin-bottom: 0.8rem;
}

.subline {
	background-color: #f2f2f2;
	height: 0.15rem;
	border: none;
	margin: 0;
	margin-top: 0.7rem;
	margin-bottom: 0.7rem;
}

.flexcon2 img {
	padding-top: 0.4rem;
	width: 2.8rem;
	margin-right: 0.8rem;
}

.flexcon2 {
	display: flex;
	margin-left: 1.9rem;
}
