.background{
    display: flex;
    flex-direction:column;
    align-items: center;
    height:100vh;
    background-image:url("../../../public/background.png");
    padding-left:10px;
    padding-right:10px;
  }

  .container{
    margin:30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 25px;
    width: 82%;
}

.title{
    font-size: 6vw;
    text-align: center;
    flex-basis: 80%;
}

.header{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.fake{
    flex-basis:10%;
}

.posttitle{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 3.5vw;
}

.postline{
    border-style: solid;
    color:gray;
    border-width: 0.1px;
}

.postdate{
    color:gray;
    font-family: 'Noto Sans KR', sans-serif;
    font-size:3vw;
}
.postcontainer{
    display: flex;
    flex-direction:column;
    width:90%;
}