.content{
    color: rgb(0, 0, 0);
    border-color: black;
    padding-top:2vh;
    padding-bottom:2vh;
    display:flex;
    align-items: center;
    font-size:2vw;
    border-radius:10px;
    border-width:2px;

    width:100%;
    padding-right: 100px;
}

.img{
    width:3vw;
    border-radius:5px;
    padding:6px;
}

.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;;
    background-color: white;
    margin-bottom: 10px;
    border-radius: 40px;
    padding-right: 90px;
}
.menu img{
    padding: 20px;
}