.content{
    color: brown;
    border-color: black;
    padding-left:100px;
    padding-right:100px;
    padding-top:2vh;
    padding-bottom:2vh;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:3vw;
    border-style:solid;
    border-radius:10px;
    background-color:white;
    border-width:2px;
    margin-top: 2vh;
}