.container{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width:100%;
    margin-bottom:10vh;
}
.title{
    width:100%;
    font-size:6vw;
    display:flex;
    justify-content: center;
    align-items: center;
}
.login{
    padding-left:100px;
    padding-right:100px;
    padding-top:2vh;
    padding-bottom:2vh;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:2vw;
    border-radius:10px;
    background-color:white;
    border-width:2px;
    margin-top:3vh;
    margin-bottom: 3vh;
}
.link{
    text-decoration: none;
    color:black;
}