.content{
    color: rgb(0, 0, 0);
    border-color: black;
    padding-top:1vh;
    padding-bottom:1vh;
    display:flex;
    align-items: center;
    font-size:15px;
    /* border-radius:10px;
    border-width:2px; */
    width:100%;
    /* padding-right: 100px; */
}

.img{
    width:6vw;
    border-radius:5px;
    padding:6px;
}

.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;;
    background-color: #F9E183;
    margin-bottom: 10px;
    border-radius: 40px;
    padding-right: 120px;
}
.menu img{
    padding: 20px;
}

