.background{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width:100%;
    background-image:url("../../../public/background.png");
    padding-bottom:40vh;
}
.container{
    margin:30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 25px;
    width: 78%;
}
.title{
    flex-basis:80%;
    width:100%;
    font-size:23px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans KR', sans-serif;
}
.login{
    padding-left:80px;
    padding-right:80px;
    padding-top:2vh;
    padding-bottom:2vh;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:15px;
    border-radius:22px;
    background-color:#F9E183;
    border-width:2px;
    margin-top:3vh;
}
.link{
    text-decoration: none;
    color:black;
}

hr{
    margin-bottom: 2vh;
    margin-top: 2vh;
    color:gray;

}
.header{
    width:100%;
    display: flex;
    justify-content: space-evenly;
}
.fake{
    flex-basis:7%;
}