.background{
    background-image:url("../../../public/background.png");
    padding: 15px;
    padding-bottom: 180px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top:30px
}
.container{
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .header{
    width:100%;
    display: flex;
    justify-content: space-between;
    font-size:3vw;
    align-items: center;
} */
.roulette{
    display: flex;
    justify-content: center;
    align-items: center;
}
.button{
    width:50%;
    border-style:solid;
    background-color: white;
    border-radius: 25px;
    border-width: 1px;
    font-size:4vw;
    font-family: 'Noto Sans KR', sans-serif;
}
.button:hover{
   transform: scale(1.2);
}

.result{
    font-size:5vw;
    margin-bottom: 20px;
}

.title{
    font-size: 6vw;
    text-align: center;
    flex-basis: 80%;
}

.header{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 5px;
}

.fake{
    flex-basis:7%;
}