
.background{
    padding: 15px;
    padding-bottom: 180px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top:30px
}
.container {
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .header{
    width:100%;
    display: flex;
    justify-content: space-between;
    font-size:3vw;
    align-items: center;
} */
.roulette {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  position: absolute;
  width: 100px;
  height: 100px;
  z-index: 999;
  border-style: none;
  background-color: rgb(255, 191, 0, 0.5);
  border-radius: 100%;
  font-family: "Noto Sans KR", sans-serif;
  display: flex;
  align-items: center;
  color: white;
  justify-content: center;
}
.buttontext {
  z-index: 10000;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 191, 0);
  font-family: "Noto Sans KR", sans-serif;
}
.button:hover {
  transform: scale(1.2);
}

.result {
  font-size: 1.3rem;
  margin-bottom: 20px;
}

.title {
  font-size: 1.6rem;
  text-align: center;
  flex-basis: 80%;
  font-family: "Noto Sans KR", sans-serif;
}

.header {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 5px;
}

.fake {
  flex-basis: 7%;
}
