.background{
    display: flex;
    flex-direction:column;
    align-items: center;
    width:100%;
    height: 100vh;
    background-image:url("../../../../public/background.png");
    padding-bottom:40vh;
    font-family: 'Noto Sans KR', sans-serif;
}
.container{
    margin:30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 25px;
    width: 78%;
}
.content{
    width:100%;
    font-size: 3.5vw;
    display: flex;
    padding-top:10px;
    padding-bottom: 10px;
    justify-content: space-between;
    border-bottom:solid;
    border-width:1px;
    margin-bottom: 10px;
}
.header{
    width:100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
.fake{
    flex-basis:7%;
    width: 100%;
}

.title{
    font-size: 3.5vw;
    flex-basis: 80%;
    text-align: center;
    width:100%;
    font-size:6vw;
    font-family: 'Noto Sans KR', sans-serif;
}
