.background{
    display: flex;
    flex-direction:column;
    align-items: center;
    height:100vh;
    background-image:url("../../../../public/background.png");
    padding-left:10px;
    padding-right:10px;
    padding-bottom: 300px;
  }

.container{
    margin:30px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 10px;
    background-color: #ffffff;
    border-radius: 25px;
    width: 82%;
    padding-bottom: 10px;
}

.header{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 20px;
}

.fake{
    flex-basis:9%;
}

.title{
    font-size: 22px;
    text-align: center;
    flex-basis: 80%;
    font-family: 'Noto Sans KR', sans-serif;
    margin-left: 10px;
}

.subtitle{
    width:100%;
    text-align: left;
    font-size:16px;
    text-decoration: underline;
    text-decoration-color:#F9E183;
    text-decoration-thickness: 5px;
    text-underline-offset: -5px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
}


.bossimg{
    width: 140px;
}

.subtext{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
}

.add{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 13px;
}

.imgbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.addiconimg{
    width: 20px;
    height: 18px;
}

.addbox{
    display: flex;
    border: #FFC700 2px solid;
    border-radius: 15px;
    align-items: center;
    padding: 3px;
    width: 100px;
}

.subtitlebox{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    margin-bottom: 15px;
}