.background{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width:100%;
    padding-bottom:300px;
}
.title{
    flex-basis:80%;
    width:100%;
    font-size:23px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans KR', sans-serif;
}

.container{
    margin:30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 25px;
    width: 78%;
}

.header{
    width:100%;
    display: flex;
    justify-content: space-evenly;
}
.text{
    margin-bottom: 20px;
}
.fake{
    flex-basis:3%;
}
.main{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.main img{
    width: 100px;
}
.goquiz{
    margin: 20px;
    border-radius: 10px;
    padding: 10px;
    background-color: #F9E183;
}