.background{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width:100%;
    background-image:url("../../../public/background.png");
    padding-bottom:40vh;
}
.container{
    margin:30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 25px;
    width: 78%;
    padding-bottom: 100px;
}
