.data{
    font-size:13px;
    background-color: #F1F1F1;
    border-radius: 10px;
    padding:10px;
    font-family: 'Noto Sans KR', sans-serif;
}
.data li::marker{
    color: #F9E183;
}
.mbti{
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
    font-size:30px;
    margin-bottom: 20px;
}
.introduce{
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

.share{
    font-family: 'Noto Sans KR', sans-serif;
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.retest{
    font-family: 'Noto Sans KR', sans-serif;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    background-color: #F1F1F1;
    border-radius: 20px;
    padding:6px;
}

.shareicons{
    width:90%;
    margin-left: 17px;
    margin-top:5px;
}
.png img{
    display:blcok;
    width:100px;
}
.png{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

