.box{
    height: 30px;
    width: 250px;
    display:flex;
    align-items: center;
    color: black;
    padding:15px;
    font-size:13px;
    border-radius: 10px;
    background-color: #F9E183;
    margin: 10px;
    font-family: 'Noto Sans KR', sans-serif;
}