.head{
    display:flex;
    justify-content: space-between;
}
.container{
    background-color: white;
    border-radius:10px;
    padding:2vw;
    padding-bottom: 10vh;
}
.text{
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.startemail{ 
    width:100;
    padding:1vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.submit{
    font-size: 15px;
    border-radius: 25px;
    padding: 20px;
    background-color: #F9E183 ;
    display: flex;
    align-items: center;
    justify-content: center;
}