.background{
    display: flex;
    flex-direction:column;
    align-items: center;
    height:100vh;
    background-image:url("../../../../public/background.png");
    padding-left:10px;
    padding-right:10px;
    padding-bottom:50px;
    font-family: 'Noto Sans KR', sans-serif;
  }

  .container{
    margin:30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 25px;
    width: 82%;
    padding-bottom:50px;
}

.title{
    font-size: 6vw;
    text-align: center;
    flex-basis: 80%;
    font-family: 'GmarketSansLight';
}

.header{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 30px;
}

.fake{
    flex-basis:7%;
}
