.searchbar{
    display:flex;
    width:95%;
}
.search{
    font-family:'GmarketSansLight';
    border-style:hidden;
    padding: 9px;
    font-size: 2vh;
    border-radius:20px;
    width:100%;
    height:20%;
    color:darkgray;
    text-decoration:none;
}
.submit{
    height:100%;
    border-radius:10px;
    background-color:white;
    border-style:hidden;
    font-size:4vw;
}

.container{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:white;
    border-radius: 30px;
    width:93%;
    margin-top:10px;
}