.background{
    display: flex;
    height:100%;
    padding-bottom:10vh;
    flex-direction:column;
    align-items: center;
    background-image:url("../../../public/background.png");
  }
.container{
    margin:3vh;
    width:80%;
    background-color: white;
    border-radius:25px;
    padding:10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header{
    background-color: white;
}
.tags{
    display:flex;
    justify-content: left;
}
.name{
    font-size:18px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight:700;
    margin-right: 9px;
}

.line1{
    border-top-style: solid;
    border-width: 6px;
    color: rgba(127, 127, 127, 0.187);
}

.phone, .address{
    font-size: 15px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight:400;
}

.address{
    margin-bottom: 30px;
}

.phone{
    margin-top: 8px;
}

.marketname{
    font-size:17px;
    font-weight:500;
    font-family: 'Noto Sans KR', sans-serif;
    margin-bottom: 8px;
}
.search{
    display:flex;
    align-items: center;
    justify-content: center;
}
.search img{
   width:18px;
}
.copy{
    margin-left: 10px;
    background-color: white;;
    width: 35px;
    border:none;
}
.copy:active{
    background-color:rgb(191, 191, 191);
}
.address{
    display: flex;
}
.copy img{
    width: 100%;
}
.fix{
    display:flex;
    justify-content:right;
}
.likebutton{
    box-shadow: 5px 5px 5px grey ;
    position:fixed;
    z-index:10000;
    bottom:70px;
    right:10px;
    border-radius: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 6vw;
    height:6vw;
    font-size:3vw;
    border-width: 1px;
    padding: 1.5vw;
}
.likebutton:active{
    background-color: antiquewhite;
}
.likebutton img{
    position: relative;
    width:100%;
}
.menuimg{
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
}

.introduce{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    font-size: 15px;
    margin-top: 15px;
}

.pricetext{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    text-decoration: underline #F9E183 5px;
    margin-bottom: 8px;
}

.keyword, .liketext{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    text-decoration: underline #F9E183 5px;
    margin-bottom: 5px;
}

.liketext{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    text-decoration: underline #F9E183 5px;
    margin-bottom: 8px;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainbox{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.himg{
    width: 18px;
    height: 18px;
}


.like{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.likenum{
    margin-left: 2px;
    font-family: 'Noto Sans KR', sans-serif;
}

.price{
    font-size:4vw;
    font-family: 'Noto Sans KR', sans-serif;
}