.background{
    display: flex;
    height:100%;
    padding-bottom:10vh;
    flex-direction:column;
    align-items: center;
    background-image:url("../../../public/background.png");
  }
.container{
    margin:3vh;
    width:80%;
    background-color: white;
    border-radius:25px;
    padding:10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header{
    background-color: white;
}
.tags{
    display:flex;
    justify-content: left;
}
.name{
    font-size:4vw;
    font-family: 'GmarketSansBold';
}
.price{
    font-size:4vw;
}
.line1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-style: solid;
    padding:4px;
}
.introduce{
    border-top-style:solid;
    border-width: 1px;
}
.marketname{
    font-size: 4vw;
}
.search{
    display:flex;
    align-items: center;
    justify-content: center;
}
.search img{
   width:2.5vw;
}
.copy{
    margin-left: 10px;
    background-color: white;;
    width: 35px;
    border:none;
}
.copy:active{
    background-color:rgb(191, 191, 191);
}
.address{
    display: flex;
}
.copy img{
    width: 100%;
}
.fix{
    display:flex;
    justify-content:right;
}
.likebutton{
    position:fixed;
    z-index:10000;
    bottom:10px;
    border-radius: 100%;
    border-style:solid;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 4vw;
    height:4vw;
    font-size:3vw;
    border-width: 1px;
    padding: 1vw;
}
.likebutton:active{
    background-color: antiquewhite;
}
.likebutton img{
    position: relative;
    width:100%;
}

.menuimg{
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
}