.container{
    position:relative;
    text-align: center;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 5px 5px 5px grey;
    border-width:0.5px;
    margin: 1vw;
    padding: 10px;
}
.img img{
    width: 150px;
}
.tag{
    display:flex;
    justify-content: left;
}
.name{
    font-family: 'GmarketSansBold';
    font-weight:bolder;
    font-size:1.5vw;
    text-decoration: underline;
    text-decoration-color: yellow;
    text-decoration-thickness: 10px;
    text-underline-offset: -10px;
}
.distance{
    display: flex;
    font-size:1vw;
}
.shopname{
    text-align:center;
    align-items: center;
    justify-content: center;
    font-size: 0.5vw;
}
.distnum{
    color: rgb(255, 255, 2);
    margin-left:5px;
    font-weight: 600;
}