.background{
    padding:3vh;
    display: flex;
    height:100%;
    padding-bottom:10vh;
    flex-direction:column;
    align-items: center;
    background-image:url("../../../public/background.png");
  }
.container{
  background-color: white;
  border-radius:25px;
}
.options{
    width: 100%;
    display:flex;
}
.products{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 3vh;
}