.background{
    padding:3vh;
    display: flex;
    height:100%;
    padding-bottom:10vh;
    flex-direction:column;
    align-items: center;
    background-image:url("../../../public/background.png");
  }
.container{
  background-color: white;
  border-radius:25px;
}
.options{
    width: 100%;
    display:flex;
}
.products{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
}
.sort{
  border-top-style:solid;
  border-bottom-style:solid;
  border-width: 1px;
  padding-top: 1vh;
  padding-bottom: 1vh;
  margin-top: 1vh;
  width:100%;
  display:flex;
  justify-content: right;
  align-items: center;
}
.sort img{
  width:25px;
}
select{
  border:none;
  font-family: inherit;  
  -webkit-appearance: none; 
  -moz-appearance: none;
  appearance: none;
}

.searchimg{
    width: 22px;
    margin-right: 6px;
}

.delimg{
    width: 35px;
    margin-left: 170px;
}

.hebox{
    border: 1px solid gray;
    border-radius: 15px;
    padding:0px;
    padding-left: 5px;
    width:85%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 12px;
    margin-left: 3px;
    
}

.header{
    margin-top: 15px;
    margin-bottom:15px;
    display:flex;
    align-items: center;
}

.title{
    display: flex;

}