.title{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    text-decoration: underline #F9E183 5px;
}

.pencilimg{
    width:10px;
    height: 10px;
    margin-right: 4px;
}

.write{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1px;
}

.writebox{
    display: flex;
    flex-direction: row;
    border: solid rgb(127, 127, 127) 1px;
    border-radius: 15px;
    padding:4px;
    align-items: center;
}

.titlebox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.reviewbox{
    background-color: rgba(127, 127, 127, 0.187);
    padding:20px;
    margin-bottom: 25px;
}

.tags{
    width: 120px;
    display: flex;
    flex-direction: row;
    margin: 0px;
}

.anotherimg{
    width:145px;
}

.anotherimgbox{
    margin-top: 20px;
    display: flex;
    /* justify-content: center; */
}