.around{
    border-style:solid;
    border-radius: 25px;
    border-width: 0.1px;
    padding: 3px;
    margin:10px;
}
.name{
    font-size:2vw;
    text-align:center;
}
.address{
    font-size:1vw;
}
.phone{
    font-size:0.8vw;
}