.background{
    background-image:url("../../../public/background.png");
    padding:3px;
    height:auto;
}
.container{
    margin:30px;
    margin-bottom: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 25px;
}
.title{
    font-size: 5vw;
    text-align: center;
}
hr{
    width:100%;
}
.text{
    font-size:20px;
    text-align:center;
}
.around{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}