.background{
    background-image:url("../../../public/background.png");
    padding:3px;
    height:auto;
}
.container{
    margin:30px;
    margin-bottom: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 25px;
}
.title{
    font-size: 6vw;
    text-align: center;
    flex-basis: 80%;
}
hr{
    width:100%;
}
.text{
    width:100%;
    text-align: left;
    font-size:20px;
    text-decoration: underline;
    text-decoration-color:#F9E183;
    text-decoration-thickness: 5px;
    text-underline-offset: -5px;

}
.around{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
}
.header{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.fake{
    flex-basis:10%;
}

.postcontainer{
    display: flex;
}
.cat{
    display:flex;
    width:100%;
}
.cat img{
    width: 25px;
}