.container{
    margin:30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: white;
    border-radius: 25px;
    padding-bottom:10vh;
}
.title{
    font-size: 5vw;
    text-align: center;
}
hr{
    width:100%;
}
.text{
    font-size:20px;
    text-align:center;
}