.subtitle{
    width:100%;
    text-align: left;
    font-size:15px;
    text-decoration: underline;
    text-decoration-color:#F9E183;
    text-decoration-thickness: 5px;
    text-underline-offset: -5px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
}

.heretext{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 10px;
    display: flex;
    margin-right: 137px;
    color: gray;
}

.hereimg{
    width:140px;
    margin: 2px;
}

.storyimg{
    width:100px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 10px;
}

.imgbox{
    display:flex;
    overflow:scroll;
    width: 100%;
    margin-bottom: 20px;
}

.omgimg{
    width: 300px;
}

.newimg{
    width: 100px;
}

.newimgbox{
    display: flex;
}

.newimgbox img{
    width: 135px;
    margin:5px;
}
.cucutextbox{
    display: flex;
    flex-direction: column;
}

.cucubox{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cucutext{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 10px;
}

.cucutext2{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
    font-weight: 600;
}

.cucutext3{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 10px; 
    margin-top: 10px;
}

.cucutext4{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 10px; 
}