.inputdata{
    font-family: 'Noto Sans KR', sans-serif;
    font-size:15px;
    padding: 2vw;
    margin:0.2vw;
    border-radius: 15px;
    border-width: 2px;
    border-style:solid;
    border-color: #F9E183 ;;
}