.head{
    display:flex;
    justify-content: space-between;
}
.b{
    padding-top: 30px;
    padding-left:20px;
    padding-right:20px;
    background-image:url("../../../../public/background.png");
    padding-bottom:20vh;
    
}
.container{

    background-color: white;
    border-radius:10px;
    padding:2vw;
}
.text{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'yg-jalnan';
    color:#F9E183;;
}
.startemail{ 
    width:100;
    padding:1vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.submit{
    font-size: 15px;
    border-radius: 25px;
    padding: 20px;
    background-color: #F9E183 ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gojoin{
    margin-top:20px;
    display:flex;
    justify-content: center;
    font-size:15px;
}

.text2{
    font-size:20px;
    text-align: center;
    margin-bottom: 8px;
}