.title{
    font-size:15px;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    margin-bottom: 10px;
}
.logos{
    margin-top:1vw;
    display:flex;
    justify-content: space-evenly;
}
.kakao,.naver,.google, .apple{
    display:flex;
    text-align: center;
    flex-direction: column;
}
.kakao img, .naver img, .google img,.apple img{
    width:50px;
}
