.background{
    background-image:url("../../public/background.png");
    padding-bottom:100vh;
}
.title{
    font-size:20px;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
}
.logos{
    margin-top:1vw;
    display:flex;
    justify-content: space-evenly;
}
.kakao,.naver,.google, .apple{
    display:flex;
    text-align: center;
    flex-direction: column;
    font-family: 'Noto Sans KR', sans-serif;
}
.kakao img, .naver img, .google img,.apple img{
    width:50px;
}
