@font-face {
  font-family: 'GmarketSansLight';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'GmarketSansBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@media screen and (max-width: 400px) {
	body {
		padding:0;
	}
}
@media screen and (min-width:510px){
  body{
    padding-left:15vw;
    padding-right:15vw;
  }
}
@media screen and (min-width:690px){
    body{
      padding-left:25vw;
      padding-right:25vw;
    }
}
@media screen and (min-width:850px){
  body{
    padding-left:27vw;
    padding-right:27vw;
  }
}
body{
/* background-color: #F9E183 ; */
  margin:0;
  font-family:'GmarketSansLight';
}
p{
  margin:0;
  padding:0;
}
a{
  text-decoration: none;
  color: black;
}
a:link { 
  text-decoration: none;
  color: black;
 }
  
 a:visited { 
  text-decoration: none;
  color: black;
 }
  