
.nav{
    z-index:1000;
    width:100%;
    background-color: white;
    position:fixed;
    bottom:0;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    border-top-style: solid;
    border-width:1px;
    flex-direction: column;
}
.home,.location,.search,.heart,.mypage{
    font-size:1.3vw;
    padding-top:0.4vh;
    padding-bottom:1vh;
    display:flex;
    align-items: center;
    justify-content:center;
    border-width:1px;
    font-family: 'Noto Sans KR', sans-serif;
}
.link{
    text-decoration: none;
    color:black;
    display:flex;
    flex-basis: 19%;
    flex-direction: column;
    align-items: center;
}

.img{
    width:25px;
    padding-top:5px;
    display:flex;
    align-items: center;
    justify-content:center;
    border-width:1px;
}

.navitem{
    display:flex;
    align-items: center;
    justify-content:center;
    width:100%
}
